:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;
  
    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    background-color: #242424;
  
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  a {
    font-weight: 500;
    color: #646cff;
    text-decoration: inherit;
  }
  a:hover {
    color: #535bf2;
  }
  

  h1 {
    font-size: 3.2em;
    line-height: 1.1;
  }
  
  button {
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: #1a1a1a;
    cursor: pointer;
    transition: border-color 0.25s;
  }
  button:hover {
    border-color: #646cff;
  }
  button:focus,
  button:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
  }
  
  @media (prefers-color-scheme: light) {
    :root {
      color: #213547;
      background-color: #ffffff;
    }
    a:hover {
      color: #747bff;
    }
    button {
      background-color: #f9f9f9;
    }
  }
  
  
  .Weapon {
    padding: 10px;
    padding-bottom: 100px;
    border-style:solid;
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: center;
    align-items: center;
  }
  

  .WpnImg {
    max-height: 100px;
  }
  
  meter {
    /* Set width and height for the meter */
    width: 100px;
    height: 15px;
    position: relative
  }
  
  /* Style the meter bar */
  meter::-webkit-meter-bar {
    background: linear-gradient(to right, 
                                #4caf50 0%, /* Green */
                                #ffeb3b 50%, /* Yellow */
                                #f44336 100%); /* Red */
  }
  
  /* Style the meter value */
  meter::-webkit-meter-optimum-value {
    background: linear-gradient(to right, 
                                #4caf50 0%, /* Green */°
                                #ffeb3b 50%, /* Yellow */
                                #f44336 100%); /* Red */
  }
  
  /* Style the value indicator bar */
  meter::after {
    content: '';
    position: absolute;
    top: 0;
    left: calc(var(--value) * 100%);
    width: 2px; /* Adjust line thickness */
    height: 100%;
    background-color: #ffffff; /* Blue color for the line */
    z-index: 1; /* Ensure it's above the meter bar */
  }
  
 .button_external_site {
    padding: 5px 5px;
    font-size: 10px;
    background: none;
    background-color: transparent;
    transition:ease ;
    border: none;
    border-radius: 0px;
    transition: color 0.3s;
    text-decoration: none;
    display: inline-block;
  }
  
  .custom-button:hover {
    color: #ffffff;  /*Brighten the text color on hover*/
  }
  
  .hover-text {
    display: none;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(0, 0, 0, 0.8);
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
  }